* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/*.section {}*/

/*.header {}*/

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-container {
  max-width: 1510px;
  height: 100%;
  margin: 0 auto;
  background:
  linear-gradient(rgba(37, 43, 73, 1), rgba(0, 0, 0, 0.5)),
  url("../images/img.png");
  padding-bottom: 0.5px;
}

/*@media (max-width: 1510px) {
  .header-container {
    max-width: 1024px;
  }
}

@media (max-width: 1170px) {
  .header-container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .header-container {
    max-width: 750px;
  }
}*/


.navbar {
  height: 100%;
  margin-right: 170px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/*@media (max-width: 1170px) {
  .navbar {
  max-width: 970px;
  }
}

@media (max-width: 992px) {
  .navbar {
  max-width: 750px;
  }
}*/

.navbar__logo {
  margin: 38px 0 36px 170px;
}

/*@media (max-width: 1510px) {
  .navbar__logo {
    margin: 38px 0 38px 150px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1170px) {
  .navbar__logo {
    margin: 38px 0 38px 100px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .navbar__logo {
    margin: 38px 0 36px 50px;
    display: flex;
    align-items: center;
  }
}*/

.navbar__link {
  margin: 36px 0px;
  max-width: 670px;
  height: 100%;
  display: flex;
}

/*@media (max-width: 992px) {
  .navbar__link {
    margin: 36px 170px 36px 100px;
  }
}
@media (max-width: 767px) {
  .navbar__link {
    margin: 36px 170px 36px 50px;
  }
}*/

.navbar__link-text {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.26px;
  width: 134px;
  padding: 6px 20px;
  color: #FFFFFF;
  text-align: center;
}

.navbar__separator {
  width: 134px;
  height: 3px;
  background: #BABBC5;
  position: absolute;
  top: 96px;
  left: 670px;
}

/*@media (max-width: 1510px) {
  .navbar__separator {
    max-width: none;
  }
}
@media (max-width: 1170px) {
  .navbar__separator {
    margin: 38px 0 38px 100px;
    display: flex;
    align-items: center;
  }
}*/

.separator {
  max-width: 1170px;
  height: 1px;
  background: #BABBC5;
  margin: 0 auto;
}

/*
@media (max-width: 992px) {
  .separator {
    max-width: 750px;
  }
}*/

.button {
  text-align: center;
}

.button-text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  max-width: 370px;
  padding: 18px 70px;
  background: #FF4343;
  border: #FF4343 1px solid;
  color: #FFFFFF;
}

.promo {
  font-family: "Raleway", sans-serif;
  margin: 131px 170px 120px 170px;
  color: #FFFFFF;
}

/*@media (max-width: 992px) {
  .promo {
    margin: 131px 100px 120px 100px;
  }
}
@media (max-width: 767px) {
  .promo {
    margin: 131px 50px 120px 50px;
  }
}*/

.promo__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 75.14px;
  max-width: 1170px;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.promo__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.18px;
  text-align: center;
  margin: 32px 0 82px 0;
}

.promo__button {
  text-align: center;
}

/*.promo__button-text {}*/

/*.main {}*/

.features {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 70px 0 70px 0;
  background: #E5E5E5;
  max-width: 1510px;
  margin: 0 auto;
}

.features-container {
  max-width: 1170px;
  height: 717px;
  margin: 0 auto;
}

/*@media (max-width: 1170px) {
  .part-1-container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .part-1-container {
    max-width: 750px;
  }
}*/

.features-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.features-column {
  max-width: 370px;
  max-height: 100%;
  font-family: "Raleway", sans-serif;
  margin-bottom: 100px;
}

.features-column__cover-img {
  text-align: center;
  margin-bottom: 30px;
  height: 100px;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.features-column__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 28.18px;
  margin-bottom: 20px;
  width: 370px;
  max-height: 72px;
  padding: 20px 0;
}

/*.features-column__subtitle {}*/

/*work*/

/*.work {}*/

.work-container {
  height: 100%;
  max-width: 1510px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.work-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.work-column {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.work-picture {
  padding: 0;
  margin: 0;
}

.work-picture__cover-img {
  height: 100%;
  padding: 0;
}

.work-picture__content {
  background: #FF4343;
  opacity: 0.8;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.work-picture__content-title {
  font-size: 24px;
  font-weight: 900px;
  text-transform: uppercase;
  padding: 110px 0 21px 0;
}

.work-picture__content-subtitle {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 128.43px;
}


/*team*/

.team {
  max-width: 1510px;
  margin: 0 auto;
  background: #E5E5E5;
}

.team-container {
  max-width: 1170px;
  padding: 114px 0;
}

.team-row {
  display: flex;
  justify-content: space-between;
}

.team-column {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

/*.person {}*/

/*.person__cover {}*/

.person__name {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

.person__status {
  margin-top: 5px;
  text-transform: uppercase;
  color: #FF4343;
}

.person__description {
  margin-top: 18px;
  max-width: 270px;
}

.person__contacts {
  margin-top: 38px;
}

.person__contacts-cover {
  margin-right: 6px;
}

/* testimonials*/

/*.testimonials {}*/

.testimonials-container {
  max-width: 1510px;
  margin: 0 auto;
  background: #E5E5E5;
}

.testimonials-row {
  display: flex;
  max-height: 490px;
}

.testimonials-column {
  color: #FFFFFF;
  display: flex;
}

/*.testimonials-column__cover {}*/

.testimonials-column__slogan {
  background: #5C3249;
}

.testimonials-column__slogan-title {
  font-family: "Cardo", serif;
  font-style: italic;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 136%;
  font-weight: 400px;
  margin: 116px 170px 0 129px;
  padding-bottom: 20px;
}

.testimonials-column__slogan-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 117%;
  margin: 10px 170px 0 130px;
}

.testimonials-dots {
  text-align: center;
  padding-top: 30px;
  /*background: #E5E5E5;*/
}

.download {
  height: 100%;
}

.download-container {
  max-width: 1510px;
  margin: 0 auto;
  background: #E5E5E5;
}

.download-info {
  line-height: 117%;
  text-align: center;
  padding: 114px 0;
}

.download-info__title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 6px;
}

.download-info__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.download-info__button {
  display: flex;
  justify-content: center;
}

.download-info__button-text {
  max-width: 370px;
  padding: 25px 70px;
}


/*footer*/

.footer {
  max-width: 1510px;
  height: 100%;
  margin: 0 auto;
  background: #353C65;
}

/*.footer-container {}*/

.footer-row {
  display: flex;
}

.footer-column {
  flex: 0 1 33.333%;
  border: #FF4343 1px;
}

.footer-item {
  color: #FFFFFF;
}

.footer-item__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  margin: 71px 0 29px 1px;
}

.footer-item__subtitle {
  margin-bottom: 67px;
  padding: 0 20px;
}

 .footer-item__links {
  text-align: center;
  margin-top: 48px;
 }

 .footer-item__links-type {
  margin-right: 27px;
 }

 .footer-item__links-type:last-child {
  margin-right: 0;
 }

 .footer-copyright {
  width: 1510px;
  background: #2C3154;
  position: relative;
  top: 0;
  right: 170px;
 }

 /*.footer-copyright__content {}*/

 .footer-copyright__content-title {
  color: #808080;
  padding: 23px 570px;
  text-align: center;
  text-transform: capitalize;
 }

 b {
  color: #FFFFFF;
  font-weight: 400;
 }


