* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/*.section {}*/

.header {
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-container {
  max-width: 1510px;
  height: 100%;
  margin: 0 auto;
  background:
  linear-gradient(rgba(37, 43, 73, 1), rgba(0, 0, 0, 0.5)),
  url("../images/img.png");
  padding-bottom: 0.5px;
}


.navbar {
  height: 100px;
  margin-right: 170px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1170px) {
  .navbar {
  max-width: 970px;
  }

}
.navbar__logo {
  margin: 38px 0 36px 170px;
}

.navbar__link {
  margin: 36px 0;
  max-width: 670px;
  height: 100%;
  display: flex;
}

@media (max-width: 670px) {
  .navbar__link {
    max-width: none
  }
}

.navbar__link-text {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.26px;
  width: 134px;
  padding: 6px 20px;
  color: #FFFFFF;
  text-align: center;
}

.navbar__separator {
  width: 134px;
  height: 3px;
  background: #BABBC5;
  position: absolute;
  top: 96px;
  left: 670px;
}

.separator {
  width: 1170px;
  height: 1px;
  background: #BABBC5;
  margin: 0 auto
}
.button {
  text-align: center;

}

.button-text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  padding: 18px 70px;
  background: #FF4343;
  border: #FF4343 1px solid;
  color: #FFFFFF;
}

.promo {
  font-family: "Raleway", sans-serif;
  margin: 131px 170px 120px 170px;
  color: #FFFFFF;
}

.promo__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 75.14px;
  width: 1170px;
  height: ;
  text-align: center;
  text-transform: uppercase;
}

.promo__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.18px;
  text-align: center;
  margin: 32px 0 82px 0;
}

.promo__button {
  text-align: center;
}

.promo__button-text {
}

/*.main {}*/

.part-1 {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 70px 0 70px 0;

}

.part-1-container {
  max-width: 1170px;
  height: 717px;
  margin: 0 auto;
}

/*@media (max-width: 1170px) {
  .part-1-container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .part-1-container {
    max-width: 750px;
  }
}*/

.part-1-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.part-1-column {
  max-width: 370px;
  max-height: 100%;
  font-family: "Raleway", sans-serif;
  margin-bottom: 100px;
}

.part-1-column__cover-img {
  text-align: center;
  margin-bottom: 30px;
  height: 100px;
}

.part-1-column__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.18px;
  margin-bottom: 20px;
  width: 370px;
  max-height: 72px;
  padding: 20px 0;
}

.part-1-column__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}


.part-2 {}

.part-2-container {
  height: 100%;
  max-width: 1510px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.part-2-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.part-2-column {
  padding: 0;
  margin: 0;
}

.part-2-column__cover {
  padding: 0;
  margin: 0;
}

.part-2-column__cover-img {
  height: 100%;
  padding: 0;
}

/*team*/

.team {
  margin: 114px 0;
}

/*.team-container {}*/

.team-row {
  display: flex;
  justify-content: space-between;
}

.team-column {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

/*.person {}*/

/*.person__cover {}*/

.person__name {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

.person__status {
  margin-top: 5px;
  text-transform: uppercase;
  color: #FF4343;
}

.person__description {
  margin-top: 18px;
  max-width: 270px;
}

.person__contacts {
  margin-top: 38px;
}

.person__contacts-cover {
  margin-right: 6px;
}

/* testimonials*/

/*.testimonials {}

.testimonials-container {}*/

.testimonials-row {
  display: flex;
  max-height: 490px;
}

.testimonials-column {
  color: #FFFFFF;
  display: flex;
}

/*.testimonials-column__cover {}*/


.testimonials-column__slogan {
  background: #5C3249;
}

.testimonials-column__slogan-title {
  font-family: "Cardo", serif;
  font-style: italic;
  font-size: 36px;
  line-height: 136%;
  font-weight: 400px;
  margin: 116px 170px 0 129px;
  padding-bottom: 20px;
}

.testimonials-column__slogan-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 117%;
  margin: 10px 170px 0 130px;
}

.testimonials-dots {
  text-align: center;
  padding-top: 30px;
  background: #E5E5E5;
}

.download {
  height: 100%;
  background: #E5E5E5;
}

/*.download-container {}*/

.download-info {
  font-family: "Raleway", sans-serif;
  line-height: 117%;
  text-align: center;
  padding: 114px 0;
}

.download-info__title {
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 6px;
}

.download-info__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}
.download-info__button {
  display: flex;
  justify-content: center;
}

/*.download-info__button-text {
}*/

